local k = import 'github.com/jsonnet-libs/k8s-libsonnet/1.26/main.libsonnet',
  <%= imports %>;

{
  <%= name %>: {
    <%= prefix %>: <%= prefix %>.new(
      name=$._config.<%= name %>.name
    ) +
    <%= mixins %>
  }
}
